body {
  margin: 0px;
  padding: 0px;
}
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title {
  text-align: center;
}
.pickboard1 {
  border: 3px solid rgb(230, 138, 19);
  border-radius: 40px 40px 0px 0px;
  background-color: rgb(217, 166, 70);
}
.pickboard2 {
  border: 3px solid rgb(117, 111, 102);
  border-radius: 40px 40px 0px 0px;
  background-color: rgb(152, 146, 136);
}
.pickboard3 {
  border: 3px solid rgb(231, 52, 21);
  border-radius: 40px 40px 0px 0px;
  background-color: rgb(238, 114, 114);
}
.pick-part1:hover {
  filter: brightness(120%);
}
.pick-part2:hover {
  filter: brightness(120%);
}
.pick-part3:hover {
  filter: brightness(120%);
}
